html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
    box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */

button,
input[type="submit"],
input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    border: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Fredericka+the+Great|Josefin+Sans:400,600|PT+Sans+Narrow:400,700|Poppins:400,600,900');










body {
    font-size: 16px;
    box-sizing: border-box;
    background: #f0f0f0;
}


/* MAIN-HEADER */

.header--main {
    width: 100%;
    height: 110vh;
    padding: 40px;
    background-image: url('../images/bg.jpg');
    background-size: cover;
}

.header__nav {
    font-family: 'PT Sans Narrow', sans-serif;
    color: white;
    letter-spacing: 3px;
    height: 200px;
}

.header__nav__element {
    color: white;
    line-height: 3em;
}

.header__logo {
    display: block;
    font-size: 3em;
    font-family: 'Leckerli One', cursive;
    float: left;

}

.float--right {
    float: right;
}

.header__nav__element::after {
    color: white;
    margin: 0 20px 0 20px;
    content: " \2022 ";

    display: inline-block;
}


.header__desc {
    font-size: 7em;
    color: white;
    font-family: 'Leckerli One', cursive;
    text-align: center;
    margin-top: 80px;

}

.header__subtitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    color: white;
    text-align: center;
    line-height: 100px;
    letter-spacing: 5px;


}

/* MAIN-RESERVATIONS */

.reservations--main {
    height: 300px;
    width: 1000px;
    display: grid;
    margin: -50px auto 0 auto;

    grid-template-columns: 300px 700px;
    background: white;
    text-align: center;
}

.reservations__desc__container {
    height: 300px;
    width: 300px;
    padding: 50px;
}

.reservations__title {
    font-family: 'Leckerli One', cursive;
    font-size: 2.5em;
        color: #665a4b;

}

.reservations__desc {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    line-height: 1.4em;
    padding: 20px 10px;
    font-size: 0.9em;
}

.reservations__button {
    border: 2px solid #DFD2C2;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.1em;
    padding: 15px 25px;
    color: #DFD2C2;

}

.reservations__button:hover {
    background: #DFD2C2;
    cursor: pointer;
    color: white;
}

.reservations__img__container {
    height: 300px;
    width: 700px;
    background-image: url(../images/restaurant.jpg);
    background-size: cover;
}

/* MAIN-ABOUT */

.about--main {
    height: 300px;
    width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 300px 700px;
    background: white;
}

.about__img__container {
    height: 300px;
    width: 300px;
    background-image: url(../images/restaurant.jpg);
}

.about__desc__container {
    padding: 50px;
    text-align: center;
}

.about__title {
    font-family: 'Leckerli One', cursive;
    font-size: 2.5em;
    color: #665a4b;
}

.about__desc {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 0.9em;

    line-height: 1.4em;
    padding: 30px;

}
